# Project exclude paths
/R-DiscordBeco/.gradle/
/R-DiscordBeco/build/
/R-DiscordBeco/build/classes/java/main/
/R-ExtremeHardCore/.gradle/
/R-ExtremeHardCore/build/
/R-ExtremeHardCore/build/classes/java/main/
/R-HardCoreRule/.gradle/
/R-HardCoreRule/build/
/R-HardCoreRule/build/classes/java/main/
/R-PenaltySystem/.gradle/
/R-PenaltySystem/build/
/R-PenaltySystem/build/classes/java/main/
/R-RandomTeam/.gradle/
/R-RandomTeam/build/
/R-RandomTeam/build/classes/java/main/
/R-ServerStatistics/.gradle/
/R-ServerStatistics/build/
/R-ServerStatistics/build/classes/java/main/
/R-TheEnd/.gradle/
/R-TheEnd/build/
/R-TheEnd/build/classes/java/main/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Gradle template
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

